.box{
    background: #222629;
    box-sizing: border-box;
    padding: 1rem 3rem;
    width: fit-content;
    color:#87C232 ;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}